{% extends "layout.html.twig" %}

{% block title %}Twig - Web4350 Exchange{% endblock %}

{% block content %}
    <h1>Welcome to Web4350 Exchange!</h1>
    {% include "login.html.twig" %}
{% endblock %}

